<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [5]:
# Write your code here
#url = "https://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=..."  #Make sure to change ******* to your API key.

In [7]:
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR"

payload = {}
headers= {
  "apikey": "OzgKn6Z0srp8TS9miZWUz06kNgGdKbmr"
}

response = requests.request("GET", url, headers=headers, data = payload)

status_code = response.status_code
result = response.text

In [13]:
print(result)

{
    "success": true,
    "timestamp": 1651787524,
    "base": "EUR",
    "date": "2022-05-05",
    "rates": {
        "AED": 3.871794,
        "AFN": 90.654668,
        "ALL": 120.43464,
        "AMD": 489.632704,
        "ANG": 1.902517,
        "AOA": 427.611753,
        "ARS": 122.430765,
        "AUD": 1.482184,
        "AWG": 1.892689,
        "AZN": 1.799865,
        "BAM": 1.948269,
        "BBD": 2.131429,
        "BDT": 91.288008,
        "BGN": 1.956155,
        "BHD": 0.397353,
        "BIF": 2131.976467,
        "BMD": 1.054129,
        "BND": 1.453223,
        "BOB": 7.247077,
        "BRL": 5.299738,
        "BSD": 1.055604,
        "BTC": 2.8879653e-05,
        "BTN": 80.468031,
        "BWP": 12.703402,
        "BYN": 3.562376,
        "BYR": 20660.933867,
        "BZD": 2.127843,
        "CAD": 1.353239,
        "CDF": 2128.287022,
        "CHF": 1.038738,
        "CLF": 0.032941,
        "CLP": 908.954355,
        "CNY": 7.015967,
        "COP": 4312.790743,
        "CRC": 701.198883,
        "CUC": 1.054129,
        "CUP": 27.934426,
        "CVE": 111.031383,
        "CZK": 24.583241,
        "DJF": 187.339532,
        "DKK": 7.440361,
        "DOP": 58.187996,
        "DZD": 152.902215,
        "EGP": 19.480769,
        "ERN": 15.811941,
        "ETB": 54.203069,
        "EUR": 1,
        "FJD": 2.280295,
        "FKP": 0.810248,
        "GBP": 0.852981,
        "GEL": 3.193976,
        "GGP": 0.810248,
        "GHS": 7.932291,
        "GIP": 0.810248,
        "GMD": 56.685805,
        "GNF": 9329.044126,
        "GTQ": 8.094113,
        "GYD": 220.852944,
        "HKD": 8.274651,
        "HNL": 25.783735,
        "HRK": 7.53766,
        "HTG": 116.649323,
        "HUF": 380.730216,
        "IDR": 15241.391712,
        "ILS": 3.605226,
        "IMP": 0.810248,
        "INR": 80.650167,
        "IQD": 1539.028747,
        "IRR": 44642.375137,
        "ISK": 137.980292,
        "JEP": 0.810248,
        "JMD": 163.098071,
        "JOD": 0.747341,
        "JPY": 137.267673,
        "KES": 122.226237,
        "KGS": 86.545487,
        "KHR": 4271.332007,
        "KMF": 493.701499,
        "KPW": 948.716476,
        "KRW": 1338.29092,
        "KWD": 0.323306,
        "KYD": 0.879686,
        "KZT": 450.734369,
        "LAK": 13102.827494,
        "LBP": 1598.587459,
        "LKR": 380.046088,
        "LRD": 159.173292,
        "LSL": 16.866398,
        "LTL": 3.11257,
        "LVL": 0.637632,
        "LYD": 5.04963,
        "MAD": 10.554467,
        "MDL": 19.793389,
        "MGA": 4221.787147,
        "MKD": 61.378267,
        "MMK": 1954.597662,
        "MNT": 3156.972983,
        "MOP": 8.534364,
        "MRO": 376.323971,
        "MUR": 45.325024,
        "MVR": 16.286374,
        "MWK": 858.061166,
        "MXN": 21.329569,
        "MYR": 4.583881,
        "MZN": 67.285137,
        "NAD": 16.866645,
        "NGN": 437.589925,
        "NIO": 37.706861,
        "NOK": 9.990273,
        "NPR": 128.752629,
        "NZD": 1.641095,
        "OMR": 0.405865,
        "PAB": 1.055604,
        "PEN": 3.976179,
        "PGK": 3.710283,
        "PHP": 55.557923,
        "PKR": 195.725479,
        "PLN": 4.692878,
        "PYG": 7201.852035,
        "QAR": 3.838348,
        "RON": 4.947771,
        "RSD": 117.58766,
        "RUB": 68.518011,
        "RWF": 1076.265994,
        "SAR": 3.953054,
        "SBD": 8.511373,
        "SCR": 14.367423,
        "SDG": 471.719679,
        "SEK": 10.477937,
        "SGD": 1.459458,
        "SHP": 1.451956,
        "SLL": 13287.300014,
        "SOS": 611.394744,
        "SRD": 21.981752,
        "STD": 21818.347796,
        "SVC": 9.236158,
        "SYP": 2648.446571,
        "SZL": 16.865681,
        "THB": 36.217771,
        "TJS": 13.148512,
        "TMT": 3.699994,
        "TND": 3.231431,
        "TOP": 2.428134,
        "TRY": 15.67501,
        "TTD": 7.169876,
        "TWD": 31.278229,
        "TZS": 2450.850577,
        "UAH": 31.036059,
        "UGX": 3742.27748,
        "USD": 1.054129,
        "UYU": 43.402569,
        "UZS": 11737.729264,
        "VEF": 225404698091.49808,
        "VND": 24198.591728,
        "VUV": 118.675615,
        "WST": 2.72539,
        "XAF": 653.427467,
        "XAG": 0.046786,
        "XAU": 0.000562,
        "XCD": 2.848838,
        "XDR": 0.786972,
        "XOF": 657.24541,
        "XPF": 119.775464,
        "YER": 263.795457,
        "ZAR": 16.858379,
        "ZMK": 9488.414201,
        "ZMW": 17.946057,
        "ZWL": 339.429198
    }
}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [14]:
# Turn the data into a dataframe
data_frame = pd.read_json(result)
data_frame

     success           timestamp base       date        rates
AED     True 2022-05-05 21:52:04  EUR 2022-05-05     3.871794
AFN     True 2022-05-05 21:52:04  EUR 2022-05-05    90.654668
ALL     True 2022-05-05 21:52:04  EUR 2022-05-05   120.434640
AMD     True 2022-05-05 21:52:04  EUR 2022-05-05   489.632704
ANG     True 2022-05-05 21:52:04  EUR 2022-05-05     1.902517
..       ...                 ...  ...        ...          ...
YER     True 2022-05-05 21:52:04  EUR 2022-05-05   263.795457
ZAR     True 2022-05-05 21:52:04  EUR 2022-05-05    16.858379
ZMK     True 2022-05-05 21:52:04  EUR 2022-05-05  9488.414201
ZMW     True 2022-05-05 21:52:04  EUR 2022-05-05    17.946057
ZWL     True 2022-05-05 21:52:04  EUR 2022-05-05   339.429198

[168 rows x 5 columns]

In [17]:
# Drop unnescessary columns
data_frame = data_frame.drop(columns=['success', 'timestamp', 'base', 'date'])
data_frame

           rates
AED     3.871794
AFN    90.654668
ALL   120.434640
AMD   489.632704
ANG     1.902517
..           ...
YER   263.795457
ZAR    16.858379
ZMK  9488.414201
ZMW    17.946057
ZWL   339.429198

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [18]:
# Save the Dataframe
data_frame.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).